:root{
    --bg:#000;
    --surface:#111;
    --surface2:#1a1a1a;
    --text:#fff;
    --muted:#a1a1a6;
    --accent:#ff7a00;
    --border:#2c2c2e;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:-apple-system,BlinkMacSystemFont,
    "SF Pro Display",
    "Segoe UI",
    sans-serif;
    background:var(--bg);
    color:var(--text);
    overflow-x:hidden;
}
